email-generator/Generate_Emails_and_update_the_Google_Sheet.json
{
  "name": "Generate Emails and update the Google Sheet",
  "nodes": [
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Extract the necessary fields from the input item\n  const firstThreeDigits = item.json.firstThreeDigits ? item.json.firstThreeDigits : '';\n  const fullName = item.json.fullName ? item.json.fullName : '';\n\n  // Ensure both firstThreeDigits and fullName are valid before generating the email\n  if (firstThreeDigits && fullName) {\n    // Sanitize the fullName by removing spaces and converting to lowercase (if needed)\n    const sanitizedFullName = fullName.toLowerCase().replace(/\\s/g, '');\n\n    // Generate the email address by combining the first 3 digits with the sanitized full name\n    const email = `${firstThreeDigits}.${sanitizedFullName}@maildrop.cc`;\n\n    return {\n      json: {\n        rowIndex: item.json.rowIndex,\n        'Generated Email': email\n      }\n    };\n  } else {\n    // If either firstThreeDigits or fullName is missing, set 'Generated Email' to empty\n    return {\n      json: {\n        rowIndex: item.json.rowIndex,\n        'Generated Email': '' // Leave it blank if either field is missing\n      }\n    };\n  }\n});\n\n\n"
      },
      "id": "4293bbfa-20cf-4b36-a000-8a8140bf5841",
      "name": "Generate Emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xEQgeo9JB5P9yAgsTbFJ9uWwhGyO705JLAlXe5uYcic",
          "mode": "list",
          "cachedResultName": "Farmers Details 2024",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEQgeo9JB5P9yAgsTbFJ9uWwhGyO705JLAlXe5uYcic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Φύλλο1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEQgeo9JB5P9yAgsTbFJ9uWwhGyO705JLAlXe5uYcic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Α.φ.μ": "={{ $('Extract exact cell').item.json.firstThreeDigits }}",
            "Ονοματεπώνυμο": "={{ $('Extract exact cell').item.json.fullName }}",
            "Generated Emails": "={{ $json['Generated Email'] }}",
            "row_number": "={{ $('Create row index').first().json.rowIndex }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Α.φ.μ",
              "displayName": "Α.φ.μ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Κωδικός βιβλίου",
              "displayName": "Κωδικός βιβλίου",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ονοματεπώνυμο",
              "displayName": "Ονοματεπώνυμο",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Όνομα χρήστη",
              "displayName": "Όνομα χρήστη",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Κωδικός χρήστη",
              "displayName": "Κωδικός χρήστη",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Κινητό",
              "displayName": "Κινητό",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Διέυθυνση e-mail",
              "displayName": "Διέυθυνση e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ψηφιακή εφαρμογή",
              "displayName": "Ψηφιακή εφαρμογή",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Πρώτος έτος δήλωσης εαε",
              "displayName": "Πρώτος έτος δήλωσης εαε",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Total_ektasi",
              "displayName": "Total_ektasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Generated Emails",
              "displayName": "Generated Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        760,
        240
      ],
      "id": "5c98117b-a290-4bd5-9e0c-25c0962971aa",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHQO92QaqHAB0OGs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1U73h_fN6xJwhlhLWLdkB0ZJDrU6WIfpw",
          "mode": "list",
          "cachedResultName": "ΣΑΛΑΜΑΛΙΚΗΣ Αγρότες 2024 (8).xls",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U73h_fN6xJwhlhLWLdkB0ZJDrU6WIfpw/edit?usp=drivesdk&ouid=116361457028486429298&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -220,
        -20
      ],
      "id": "4370946f-0848-4a37-bee1-d6eb553499e4",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aQe84kJfMzO6KiKo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        20,
        -20
      ],
      "id": "244df422-0f17-4ecc-82c0-944799f4acba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Extract the first 3 digits from 'Α.φ.μ' and the full name from 'Ονοματεπώνυμο'\nconst afm =$input.first().json['Α.φ.μ'];  // This is the cell value for 'Α.φ.μ'\nconst fullName =$input.first().json['Ονοματεπώνυμο'];  // This is the full name\n\n// Extract the first 3 digits of the 'Α.φ.μ' value\nconst firstThreeDigits = afm.slice(0, 3);\n\n// Return the modified JSON object\nreturn [\n  {\n    json: {\n      firstThreeDigits: firstThreeDigits,\n      fullName: fullName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -20
      ],
      "id": "6b76b577-1665-413b-988a-8d75673b3326",
      "name": "Extract exact cell"
    },
    {
      "parameters": {
        "jsCode": "const input1 = $input.all(0); // Original Excel data\nconst input2 = $input.all(1); // Generated Emails\n\nconst mergedItems = input1.map(origItem => {\n  const match = input2.find(emailItem =>\n    emailItem.json.rowIndex === origItem.json.rowIndex\n  );\n\n  return {\n    json: {\n      ...origItem.json,\n      ...(match ? match.json : {}) // Merge email data if found\n    }\n  };\n});\n\nreturn mergedItems;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -20
      ],
      "id": "d8ce5714-b57b-41f8-acf2-68170e38911d",
      "name": "Merge results"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  item.json.rowIndex = index + 2; // +2 to match Google Sheets row number (assuming row 1 = headers)\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -20
      ],
      "id": "ff8f76d7-08bc-4533-b9e4-e33180b072ab",
      "name": "Create row index"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -20
      ],
      "id": "fadf5d80-20c1-402b-98a2-c767340b5c46",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Emails": {
      "main": [
        [
          {
            "node": "Merge results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create row index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract exact cell": {
      "main": [
        [
          {
            "node": "Generate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge results": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create row index": {
      "main": [
        [
          {
            "node": "Extract exact cell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Luxembourg",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "96cd5567-9172-424c-9be6-4752cbd23ad3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50ff812adf4a1ca4b2c9c6856ba8dfbbcb667f39698f4015e346336c3e859de8"
  },
  "id": "QtbZ0W5733maOe9T",
  "tags": []
}